
body{
    margin: 0 auto;
    width: 1000px;
    background-color: silver;
}



header{
    margin-top: 15px;
}
nav{
    height: 57px;
    background-color: rgb(56, 29, 56);
}

#navi li{
    display: inline-block;
    color: whitesmoke;
    padding: 5px; 
    border-radius: 10px;
    background-color: rgb(161, 146, 60);
    margin-top: 15px;
}
#top10{
    background-color:rgb(114, 5, 5);
    margin-top: 5px;
    height: 175px;
    font-size: 15px;
}
#top10 li{
    margin-left: 20px;

}

#info li{
    display: inline-block;
    color: whitesmoke;
    background-color: gold;
    border-radius: 10px;
    padding: 5px;
    margin-top: 15px;
    color: black;
    
}
footer{
    height: 500px;
    margin-top: 5px;
}

#another-style{
    background-color:rgb(75, 75, 75);
    margin-top: 5px;
    height: 175px;
    color: rgb(0, 0, 0);
}
#another-style li{
    background-color:rgb(75, 75, 75);
    color:black;
    margin-left: 10px;
}

.more-styles{
    color: wheat;
    background-color: blue;
    padding: 25px;
}


/* @media (min-width: 768px){
    body{

    }
} */


/* * {
    /* outline: dashed; 
    border: 1px gold !important;
}

.inline-p{
    display: inline-block;
}

#empty-div{
    height: 100px;
    width: 100px;
    background-color: aqua;
}

#para-div{
    background-color: whitesmoke;
    height: 90%;
    width: 90%;
}

#overflow-box{
    max-height: 150px;
    overflow: scroll;
    overflow: hidden;
}

#footer-box{
    padding: 20px;
    margin: 10px;
    border: 5px dashed orange !important;

}

body{
    margin: 0 auto;
    width: 100px;
    background-color: violet;
    margin-top: 25px;
    margin-bottom: 25px;
}

main{
    background-color:rgb(98, 2, 98);
} */