
body{
    margin: 0 auto;
    width: 1000px;
    background-color: silver;
}

main{
    background-color: teal;

}

header{
    margin-bottom: 100px;
}
nav{
    height: 57px;
    background-color: rgb(56, 29, 56);
}

ul li{
    display: inline-block;
    color: whitesmoke;
    padding: 5px; 
    border-radius: 10px;
    background-color: rgb(161, 146, 60);
    
    
}
ol li{
    display: inline-block;
    color: whitesmoke;
    background-color: gold;
    border-radius: 10px;
    padding: 5px;
    margin-top: 15px;
    
}
footer{
    height: 500px;
}

#another-style{
    border: 5px solid rgb(75, 75, 75);
}
.more-styles{
    color: wheat;
    background-color: blue;
}
